services:
  healthy-diet-api-server:
    build:
      context: .
      dockerfile: Dockerfile.dev

    ports:
      - "3000:3000"

    volumes:
      - .:/app
      - cargo-cache:/usr/local/cargo/registry
      - target-cache:/app/target

    env_file:
      - .env

volumes:
  cargo-cache:
  target-cache:
